body{
    color: rgb(0, 36, 217);
    background: rgb(26, 26, 26);
    font-family:'Arial', sans-serif;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: white;
}

.assign{
    display: block;
    padding: 10px;
    margin: 10px;
    background: rgb(26, 26, 26);
    width: 20%;
    box-shadow: 8px 8px rgb(196, 180, 84)
    border-radius: 20px;
}

.assign img{
    width: 200px;
    padding: 10px;
}
